.container-option {
    margin-top: 5px;
    margin-bottom: 15px;
}

.row-flex {
    display: flex;
}

.vertical-bottom {
    position: absolute;
    left: 0%;
    top: 100%;
    transform: translateY(-100%);
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding-vertical {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pg-evive-detail {
    padding-left: 10px;
    padding-right: 10px;
}

.button-middle {
    display: flex;
    align-items: center;
}

.splitter-navigation {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    transform: translateY(-12%);
}

.button-icon {
    color: #34495e;
    fill: currentColor;
}

.button-icon-selected,
.button-icon-selected:focus,
.button-icon-selected:active
{
    color: #2ECC71;
}

.button-icon-selected:hover {
    color: #58D68D;
}

.button-icon-current,
.button-icon-current:hover,
.button-icon-current:focus,
.button-icon-current:active
{
    pointer-events: none;
    color: #34495E;
}

.button-icon-disabled,
.button-icon-disabled:hover,
.button-icon-disabled:focus,
.button-icon-disabled:active
{
    pointer-events: none;
    color: #BDC3C7;
}

.icon-disabled {
    color: #BDC3C7;
    fill: currentColor;
}

.map-wrapper {
    display: inline-block;
    position: relative;
}

.map-wrapper:after {
    padding-top: 75%;
    display: block;
    content: '';
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hr-small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.color-normal {
    color: #34495E;
}

.login-form {
}

.text-placeholder {
    white-space: pre-line;
}

.invis {
    display: none;
}

.text-compact {
    margin: 0px;
    line-height: normal;
}
