.user-profile
{

    border-radius: 6px;
    padding: 25px 20px 25px 20px;
}

.user-bkg-pic{
    height: 200px;
    overflow: hidden;
}

.profile-pic
{
    position: absolute;
    width: 200px;
    height:200px;
    left:50%;
    margin-left: -100px;
    top:200px;
}

.user-info
{
    text-align: center;
    width: auto;
    padding-top: 100px;
    background-color: #efefef;

}

.user-info > h4
{
    color: #4e4e4e;
    margin-bottom: 0;
}


